<h1>Welcome to Event Details Page</h1>
<p>Event:</p>
<h2>{{theEvent.name}}</h2>

<p>Date:</p>
<h3>{{theEvent.date}}</h3>

<p>Time:</p>
<h3>{{theEvent.time}}</h3>

<p>Location:</p>
<h3>{{theEvent.location}}</h3>

<p>Price:</p>
<h3>{{theEvent.price}}</h3>
