<h4>Service Providers</h4>

{{#each allTheProviders}}
<div>
<p>Name:</p>
<h2>{{this.name}}</h2>



<p>Director:</p>


<h3>{{this.director}}</h3>
</a>


<p>Website</p>
<h3>{{this.website}}</h3>

{{!-- <a href = "/providers/providerdetails/{{this.id}}">Click For Details</a> --}}
<br>
</div>
</div>
<form action = "/providers/editproviders/{{this._id}}" method = "GET">
<button>Edit this Provider</button>
<form action = "/providers/delete/{{this._id}}" method = "POST">
<button>Delete this Provider</button>
</form>
<br>

</form>
{{/each}}

<br>

<a href = "/providers/create-new-provider">Create New Provider</a>

