<h2>Edit Provider {{provider.name}}</h2>


<form action="/providers/update/{{provider._id}}" method="POST">


<p>Company</p>

<input type="text" name="theName" value=" {{provider.name}}">


<p>Director</p>

<input type="text" name="theDirector" value=" {{provider.director}}">

<p>Website</p>
<input type="text" name="theWebsite"
value="{{provider.website}}"
>


<button>Submit Changes 
</button>

</form>