<h1>Welcome to Provider Details Page</h1>


<p>Name:</p>
<h2>{{theProvider.name}}</h2>



<p>Director:</p>

{{!-- <a href="/providers/providerdetails/{{theProvider.director._id}}"> --}}
<h3>{{theProvider.director}}</h3>
</a>
{{!-- 
<p>Service:</p>

<a href="/providers/providerdetails/{{theProvider.Service._id}}">
<h3>{{theProvider.director}}</h3>
</a> --}}


<p>Website</p>
<h3>{{theProvider.website}}</h3>

