<h1>Welcome to Provider Details Page</h1>


<p>Title:</p>
<h2>{{theProvider.title}}</h2>



<p>Director:</p>

{{!-- <a href="/providers/providerdetails/{{theProvider.director._id}}"> --}}
<h3>{{theProvider.director.name}}</h3>
</a>

<p>Service:</p>

{{!-- <a href="/providers/providerdetails/{{theProvider.Service._id}}"> --}}
<h3>{{theProvider.Service.name}}</h3>
</a>


<img style="width:200px" src="{{theProvider.website}}" alt="sorry no website for this provider" >